:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

body {
  background-color: peachpuff;
  font-family: "Outfit", sans-serif;
}

span {
  font-size: 16px;
}

.container {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-self: center;
  padding: 24px 24px 24px 24px;
  width: 50%;
  border-radius: 16px;
  gap: 20px;
  margin: 0;
}

h1,
h2,
h3,
ul {
  margin: 0;
}

img {
  height: 300px;
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
}

.preparationTime {
  background-color: var(--rose-50);
  padding: 16px 16px 16px 16px;
  border-radius: 16px;
}

li {
  margin-top: 16px;
}

.instructions {
  border-top: 2px solid var(--stone-150);
}

.instructionsTitle {
  margin-top: 20px;
}

ol li::marker {
  color: indianred;
  font-weight: 500;
}

.nutritionCard {
  border-top: 2px solid var(--stone-150);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nutritionTitle {
  margin-top: 20px;
}

.nutritionContainer {
  display: flex;
  justify-content: center;
  max-width: 540px;
}

.nutritionRow1,
.nutritionRow2,
.nutritionRow3 {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 14px 20px;
  border-bottom: 2px solid var(--stone-150);
  /* max-width: 540px; */
}

.nutritionRow4 {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 14px 20px;
}

.nutritionCal,
.nutritionCarbs,
.nutritionProtein,
.nutritionFat {
  width: 250px;
}

.totalCal,
.totalCarbs,
.totalCarbs,
.totalProtein,
.totalFat {
  color: indianred;
  font-weight: 500;
}
